<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Uplifting News</title>
</head>

<body>
    <h1>Uplifting News</h1>
    <h3>Does reading the news give you the blues? Check out these articles that will cheer you up!</h3>
    <h2>Top Articles:</h2>
    {{{ body }}}
</body>

</html>