
<div id="article-container">
    <p id="top-articles-header">Favorited Articles</p>
        <ul>
            {{#each articles }}
                <div id="article-indiv">
                    <li><a target="_blank" href="{{this.link}}">{{this.title}}</a></li>
                        <form action="/remove/{{this._id}}?_method=PUT" method="POST">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                </div>
            {{/each}}
        </ul>
</div>
