
<div id="article-container">
    <p id="top-articles-header">Top Articles</p>
        <ul>
            {{#each articles }}
                <div id="article-indiv">
                    <li><a target="_blank" href="{{this.link}}">{{this.title}}</a></li>
                        <form action="/id/{{this._id}}?_method=PUT" method="POST">
                            <button id="favorite" type="submit" class="btn btn-success">Favorite</button>
                        </form>
                </div>
            {{/each}}
        </ul>
</div>