h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

#find {
    text-align: center;
}

#article-list {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
}